@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-stone-200;
}

/* html {
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: rgb(68 64 60);
} */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(22, 21, 20);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(68 64 60);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(84, 79, 75);
}
